<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   
	<extension
         point="org.eclipse.ui.commands">
		<category
            id="tr.org.liderahenk.liderconsole.commands.category"
            name="%commands.category">
		</category>         
		<command
            categoryId="tr.org.liderahenk.liderconsole.commands.category"
            id="tr.org.liderahenk.liderconsole.commands.ScriptDefinition"            
            name="%command.script.definition">
		</command>
		<command
            categoryId="tr.org.liderahenk.liderconsole.commands.category"
            id="tr.org.liderahenk.liderconsole.commands.ExecuteScriptTask"            
            name="%command.execute.script.task">
		</command>
	</extension>
   
	<extension
       point="org.eclipse.ui.handlers">

		<!-- Script definition handler -->
       	<handler
            class="tr.org.liderahenk.script.handlers.ScriptDefinitionHandler"
            commandId="tr.org.liderahenk.liderconsole.commands.ScriptDefinition">
      	</handler>
      	
      	<!-- Task handler -->
		<handler
            class="tr.org.liderahenk.script.handlers.ExecuteScriptTaskHandler"
            commandId="tr.org.liderahenk.liderconsole.commands.ExecuteScriptTask">
		</handler>
      
	</extension>
  
	<extension
         point="org.eclipse.ui.menus">

		<!-- Add menu command for script definition editor -->
		<menuContribution
            locationURI="menu:tr.org.liderahenk.liderconsole.menus.LiderMain?after=additions">
 				<command
                  commandId="tr.org.liderahenk.liderconsole.commands.ScriptDefinition"
                  id="tr.org.liderahenk.liderconsole.commands.ScriptDefinition"
                  tooltip="%command.script.definition"
                  icon="icons/16/script-definition.png">
           		</command>
		</menuContribution>
      
      	<!-- Add extension point contribution for "task execution" dialogs -->
		<menuContribution
      		allPopups="false"
            locationURI="popup:tr.org.liderahenk.liderconsole.menus.ApplyTask?after=additions">
 				<command
                  commandId="tr.org.liderahenk.liderconsole.commands.ExecuteScriptTask"
                  id="tr.org.liderahenk.liderconsole.commands.ExecuteScriptTask"
                  tooltip="%command.execute.script.task"
                  icon="icons/16/execute-script.png">
				  	<visibleWhen>
						<with
			                variable="tr.org.liderahenk.liderconsole.core.sourceproviders.main.isAhenkSelected">
			             	<equals
				                   value="true">
				            </equals>
			          	</with>
					</visibleWhen>
           		</command>
		</menuContribution>
	</extension>
  
	<extension
		point="org.eclipse.ui.editors">
		<editor
	       class="tr.org.liderahenk.script.editors.ScriptDefinitionEditor"
	       default="true"
	       icon="icons/16/execute-script.png"
	       id="tr.org.liderahenk.script.editors.ScriptDefinitionEditor"
	       name="%editor.script.definition">
		</editor>
	</extension>
  
</plugin>